ol {
  margin-inline-start: var(--spacing-md);
  line-height: 1.5;
}

ul li:not(:last-child),
ol li:not(:last-child) {
  margin-block-end: var(--spacing-2xs);
}

ol li {
  padding-inline-start: var(--spacing-2xs);
}

ol li::marker {
  font-weight: var(--fw-b);
  color: var(--brown-800);
}

ul,
ol {
  margin-block-end: var(--spacing-md);
}

ul li {
  list-style: none;
  display: flex;
  align-items: center;
}

ul li::before {
  display: block;
  content: "•";
  color: var(--text-brown-800);
  font-size: var(--fs-md);
  margin-inline-end: var(--spacing-sm);
  margin-inline-start: var(--spacing-2xs);
}

.recipe__container {
  width: 100%;
  margin-inline: auto;
  max-width: 46.125rem;
  /* 738 */
  border-radius: var(--border-radius);
}

.recipe__img {
  margin-block-end: var(--spacing-lg);
}

@media screen and (min-width: 48rem) {
  .recipe {
    margin-block: var(--fluid-0-120);
  }

  .recipe__img {
    padding: var(--spacing-md-lg);
    margin-block-end: initial;
  }

  .recipe__img img {
    border-radius: var(--border-radius);
  }
}

.recipe__content {
  display: grid;
  gap: var(--spacing-md);
  padding-inline: var(--spacing-md-lg);
}

.recipe__time {
  padding: var(--spacing-md);
}

.recipe__ingredients {
  border-bottom: var(--border);
}

.recipe__instructions {
  border-bottom: var(--border);
}

.nutrition__table {
  border-collapse: collapse;
  margin-block-end: var(--spacing-md);
}

.nutrition__table tr:not(:last-child) {
  border-bottom: var(--border);
}

.nutrition__table th {
  padding-block: var(--spacing-2xs);
  padding-inline-start: var(--spacing-md);
  text-align: start;
}

.nutrition__table td {
  padding-inline-end: var(--spacing-md);
}
